<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <title>Building</title>
</head>
<body>
<div>
    </br><h3>Dodaj mieszkanie do wspólnoty</h3>

    <p>Dodaj mieszkanie do wspólnoty pod adresem</p>
    <p th:text="${address}"/>

    <form action="/dodajMieszkanie" method="post">
        <select name="flatId">
            <option value="0">Wybierz mieszkanie</option>
            <option th:each="flat : ${flats}" th:value="${flat.id}" th:text="${flat.number}"></option>
        </select>
        <input type="hidden" th:value="${buildingId}" name="id"/>
        <input type="submit" value="Dodaj mieszkanie"/>
    </form>
    <br>
</div>
</body>
</html>