<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <title>Building</title>
</head>
<body>
<div>
    </br><h3>Dodaj mieszkańca do mieszkania</h3>

    <form action="/dodajMieszkancaDoMieszkania" method="post">
        <select name="inhabitantId">
            <option value="0">Wybierz mieszkańca</option>
            <option th:each="inhabitant : ${inhabitants}" th:value="${inhabitant.id}" th:text="${inhabitant.firstName}+ ', ' +${inhabitant.lastName}"></option>
        </select>
        <input type="hidden" th:value="${flatId}" name="id"/>
        <input type="submit" value="Dodaj mieszkańca"/>
    </form>
    <br>
</div>
</body>
</html>