<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <title>Association</title>
</head>
<body>
<div>
</br><h3>Wspólnota</h3>
    <form action="/addbuilding" method="post" th:object="${building}">
        Nazwa: <input type="text" th:field="*{name}"/>
        Adres: <input type="text" th:field="*{address}"/>
        <input type="submit" value="Dodaj" />
    </form><br>
    <a href="/budynki"> Pokaż budynki </a></div></br></br>

<h3>Mieszkanie</h3>
<form action="/addflat" method="post" th:object="${flat}">
    Numer: <input type="text" th:field="*{number}"/>
    Powierzchnia: <input type="text" th:field="*{surface}"/>
    <input type="submit" value="Dodaj" />
</form><br>
<a href="/mieszkania"> Pokaż mieszkania </a></div></br></br>


<h3>Mieszkaniec</h3>
<form action="/addinhabitant" method="post" th:object="${inhabitant}">
    Imie: <input type="text" th:field="*{firstName}"/>
    Nazwisko: <input type="text" th:field="*{lastName}"/>
    Plec: <input type="text" th:field="*{gender}"/>
    <input type="submit" value="Dodaj" />
</form><br>
<a href="/mieszkancy"> Pokaż mieszkańców </a></div></br>
</body>
</html>