<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Budynki</title>
</head>
<body>
<table class="table" width="10px">
    <thead>
    <tr>
        <th> Edytuj </th>
        <th> Usuń </th>
        <th> Imie</th>
        <th> Nazwisko</th>
        <th> Plec</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="inhabitant: ${inhabitants}">
        <td><a  th:href="@{'/edytujBudynek?id=' + ${inhabitant.id}}">edytuj pozycję</a></td>
        <td><a  th:href="@{'/usunBudynek?id=' + ${inhabitant.id}}">usuń pozycję</a></td>
        <td th:text="${inhabitant.firstName}"></td>
        <td th:text="${inhabitant.lastName}"></td>
        <td th:text="${inhabitant.gender}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>